@use "./base/global";
html {
    background-color: #FAF8F6 !important;
}

body {
    background-color: #FAF8F6 !important;
}



header {
    background-color: #FAF8F6 !important;
}

footer {
    background-color: #F3EDE7 !important;
}

.btn-big {
    color: #fff;
}
